@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Space";
  src: url("/pirulen.otf");
}
::selection {
  background-color: #b6b6b6;
  color: #007fe7;
}
:root {
  line-height: 1.4;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100svh;
}
h1 {
  text-shadow: 0 1px 10px #f7f7f780;
}
.space {
  font-family: "Space";
}

.grotesk {
  font-family: "Space Grotesk";
}
